@charset "UTF-8";
/*========================================================
 リセット
==========================================================*/
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
* Remove default margin.
*/
body {
  margin: 0;
}

/* HTML5 display definitions
========================================================================== */
/**
* Correct `block` display not defined for any HTML5 element in IE 8/9.
* Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
* Correct `block` display not defined for `main` in IE 11.
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
* 1. Correct `inline-block` display not defined in IE 8/9.
* 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
*/
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
* Prevent modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
* Address `[hidden]` styling not present in IE 8/9/10.
* Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
*/
[hidden],
template {
  display: none;
}

/* Links
========================================================================== */
/**
* Remove the gray background color from active links in IE 10.
*/
a {
  background: transparent;
}

/**
* Improve readability when focused and also mouse hovered in all browsers.
*/
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
========================================================================== */
/**
* Address styling not present in IE 8/9/10/11, Safari, and Chrome.
*/
abbr[title] {
  border-bottom: 1px dotted;
}

/**
* Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
*/
b,
strong {
  font-weight: bold;
}

/**
* Address styling not present in Safari and Chrome.
*/
dfn {
  font-style: italic;
}

/**
* Address variable `h1` font-size and margin within `section` and `article`
* contexts in Firefox 4+, Safari, and Chrome.
*/
h1, h2, h3, p, ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

/**
* Address styling not present in IE 8/9.
*/
mark {
  background: #ff0;
  color: #000;
}

/**
* Address inconsistent and variable font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` affecting `line-height` in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
========================================================================== */
/**
* Remove border when inside `a` element in IE 8/9/10.
*/
img {
  border: 0;
  vertical-align: top;
  line-height: 1;
}

/**
* Correct overflow not hidden in IE 9/10/11.
*/
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
========================================================================== */
/**
* Address margin not present in IE 8/9 and Safari.
*/
figure {
  margin: 0;
  padding: 0;
}

/**
* Address differences between Firefox and other browsers.
*/
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
* Contain overflow in all browsers.
*/
pre {
  overflow: auto;
}

/**
* Address odd `em`-unit font size rendering in all browsers.
*/
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
========================================================================== */
/**
* Known limitation: by default, Chrome and Safari on OS X allow very limited
* styling of `select`, unless a `border` property is set.
*/
/**
* 1. Correct color not being inherited.
*    Known issue: affects color of disabled elements.
* 2. Correct font properties not being inherited.
* 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
*/
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
* Address `overflow` set to `hidden` in IE 8/9/10/11.
*/
input {
  border: none;
}

button {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
}

/**
* Address inconsistent `text-transform` inheritance for `button` and `select`.
* All other form control elements do not inherit `text-transform` values.
* Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
* Correct `select` style inheritance in Firefox.
*/
button,
select {
  text-transform: none;
}

/**
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*    and `video` controls.
* 2. Correct inability to style clickable `input` types in iOS.
* 3. Improve usability and consistency of cursor style between image-type
*    `input` and others.
*/
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
* Re-set default cursor for disabled elements.
*/
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
* Remove inner padding and border in Firefox 4+.
*/
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
* Address Firefox 4+ setting `line-height` on `input` using `!important` in
* the UA stylesheet.
*/
input {
  line-height: normal;
}

/**
* It's recommended that you don't attempt to style these elements.
* Firefox's implementation doesn't respect box-sizing, padding, or width.
*
* 1. Address box sizing set to `content-box` in IE 8/9/10.
* 2. Remove excess padding in IE 8/9/10.
*/
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
* Fix the cursor style for Chrome's increment/decrement buttons. For certain
* `font-size` values of the `input`, it causes the cursor style of the
* decrement button to change from `default` to `text`.
*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Address `appearance` set to `searchfield` in Safari and Chrome.
* 2. Address `box-sizing` set to `border-box` in Safari and Chrome
*    (include `-moz` to future-proof).
*/
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
* Remove inner padding and search cancel button in Safari and Chrome on OS X.
* Safari (but not Chrome) clips the cancel button when the search input has
* padding (and `textfield` appearance).
*/
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* Define consistent border, margin, and padding.
*/
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
* 1. Correct `color` not being inherited in IE 8/9/10/11.
* 2. Remove padding so people aren't caught out if they zero out fieldsets.
*/
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
* Remove default vertical scrollbar in IE 8/9/10/11.
*/
textarea {
  overflow: auto;
}

/**
* Don't inherit the `font-weight` (applied by a rule above).
* NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
*/
optgroup {
  font-weight: bold;
}

/* Tables
========================================================================== */
/**
* Remove most spacing between table cells.
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

h1, h2, h3, h4, p, figure, section, article, ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-size: 18px;
  line-height: 1.4;
}

ul, ol {
  list-style: none;
}

img {
  line-height: 1;
  vertical-align: top;
}

/*========================================================
 共通のスタイルを記述
==========================================================*/
html, body {
  width: 100%;
  min-width: 1200px;
  min-height: 100%;
  height: 100%;
}

body {
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic", sans-serif;
  font-size: 14px;
  line-height: 2;
  overflow: hidden;
}

p {
  margin: 2em 0;
  letter-spacing: .2em;
}

a {
  text-decoration: none;
  color: #000;
}

.sun-serif {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

.serif {
  font-family: Times,"Times New Roman","ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","ＭＳ Ｐ明朝","MS PMincho","Takao P明朝","TakaoPMincho",serif;
}

.catch {
  font-size: 20px;
  margin-top: 4px;
}

.smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-outlink {
  background: url(../img/icon-outlink.png) no-repeat left center;
  padding-left: 20px;
  color: #858585;
}
.icon-outlink:hover {
  color: #000;
}

.icon-mail {
  padding-left: 20px;
  background: url(../img/icon-mail.png) no-repeat left center;
  color: #1d3994;
}
.icon-mail:hover {
  text-decoration: underline;
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.wrap {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 100%;
  height: 100%;
  box-sizing: border-box;
}

.Container {
  position: relative;
  min-height: 100%;
  height: 100%;
  overflow: auto;
  padding: 80px 0 50px 0;
  box-sizing: border-box;
}

.Container__inner {
  position: relative;
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  height: 100%;
}

.Header {
  position: fixed;
  top: 20px;
  left: 0;
  z-index: 100;
  width: 100%;
  color: #000;
}
.Header .Logo {
  float: left;
  padding-left: 40px;
}
.Header .Logo a {
  color: #fff;
}
.Header .Nav {
  float: right;
  padding: 12px 40px 0 0;
}
.Header .Nav li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 20px;
}
.Header .Nav a {
  display: block;
  color: #000;
  font-size: 13px;
  letter-spacing: 0.2em;
  text-align: center;
}
.Header .Nav a:hover .Nav__line {
  width: 100%;
}
.Header .Nav span {
  display: block;
  text-align: left;
}
.Header .Nav__line {
  display: inline-block;
  vertical-align: top;
  height: 1px;
  width: 0;
  margin: 0 auto;
  overflow: hidden;
  background: #999;
  -webkit-transition: width .2s linear;
  transition: width .2s linear;
}

.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  font-family: "微软雅黑";
}
.Footer p, .Footer a {
  color: #000;
}
.Footer .Footer__copy {
  margin: 0;
  padding-right: 40px;
  letter-spacing: 0.12em;
  line-height: 1;
}
.Footer .Footer__copy small {
  font-size: 10px;
  font-family: "微软雅黑";
}
.Footer .Footer__sites {
  float: right;
  padding: 0 20px 0 0;
}
.Footer .Footer__sites li {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 20px;
}
.Footer .Footer__sites a {
  font-size: 12px;
  letter-spacing: 0.12em;
}
.Footer .Footer__sites a:hover {
  color: #ccc;
}

.FirstBlock {
  display: table;
  width: 100%;
  min-height: 100%;
  height: 100%;
  text-align: center;
}

.FirstBlock__inner {
  text-align: center;
  width: 1000px;
  display: table-cell;
  vertical-align: middle;
}

.FirstBlock__logo {
  width: 545px;
  height: 240px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 60px;
}
.FirstBlock__logo span {
  position: relative;
  left: -545px;
  display: block;
  width: 545px;
  height: 44px;
}

.FirstBlock__item {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  width: 310px;
}

.FirstBlock__item-inner {
  position: relative;
  left: -310px;
  width: 310px;
  padding: 0 30px;
  box-sizing: border-box;
}
.FirstBlock__item-inner h3 {
  margin-bottom: 20px;
}
.FirstBlock__item-inner p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}
.FirstBlock__item-inner a {
  display: block;
  box-sizing: border-box;
  border: 1px solid #aaa;
  text-align: center;
  padding: 10px 0;
  font-family: Helvetica Neue, Helvetica;
  letter-spacing: 0.3em;
  line-height: 1;
}
.FirstBlock__item-inner a:hover {
  background: #222;
  color: #fff;
}

.Box {
  margin: 0 auto;
  padding-bottom: 10px;
  display: none;
  width: 1200px;
  min-height: 100%;
  height: 100%;
}

.Box__pagename {
  margin: 0 0 30px 0;
}

.Box__cell {
  display: table-cell;
  vertical-align: middle;
}
.Box__cell.is-left {
  text-align: left;
}
.Box__cell.is-right {
  text-align: right;
}
.Box__cell.is-center {
  text-align: center;
}

.Box__inner {
  display: inline-block;
  text-align: left;
  padding: 50px 0;
}

.Box__headline {
  margin-bottom: 40px;
}

.Box__lead {
  margin-bottom: 60px;
}

.Box__title {
  font-weight: normal;
  font-size: 30px;
  letter-spacing: 0.2em;
  margin-bottom: 18px;
  line-height: 1.2;
}

.Box__subtitle {
  font-size: 20px;
  letter-spacing: 0.2em;
  margin-bottom: 18px;
  line-height: 1.2;
}

.Box__section {
  position: relative;
  margin-bottom: 60px;
}

.Mission .Box__inner {
  width: 600px;
}

.Mission__ceo {
  margin: 30px 0 0 0;
}

.Mission__sign {
  margin-left: 58px;
}

.Solution .Box__inner {
  width: 700px;
  text-align: center;
}
.Solution .Box__section {
  display: table;
  word-spacing: -1em;
  width: 700px;
}
.Solution .Box__section dl:nth-child(2n) {
  margin-left: 40px;
}
.Solution dl {
  word-spacing: normal;
  margin: 22px 0;
  width: 330px;
  display: inline-block;
  vertical-align: top;
}
.Solution dt {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 7px;
  letter-spacing: 0.1em;
  text-align: center;
}
.Solution dt img {
  margin-bottom: 10px;
}
.Solution dd {
  text-align: justify;
}

.Company .Box__inner {
  width: 800px;
}
.Company h4 {
  font-weight: normal;
  letter-spacing: 0.08em;
}

.Company__link {
  margin-top: 0;
  padding-left: 16px;
  background: url(../img/icon-outlink.png) no-repeat center left;
}
.Company__link a {
  color: #747474;
}
.Company__link a:hover {
  color: #c0c0c0;
}

.Company__group-title {
  margin-bottom: 38px;
}

.Company__lead {
  margin-bottom: 38px;
}

.Company__officers {
  overflow: hidden;
  float: left;
  padding-top: 54px;
}
.Company__officers dt {
  float: left;
  clear: both;
}
.Company__officers dd {
  padding-left: 180px;
  margin: 0 0 2px;
}

.Company__figure {
  float: left;
  margin-left: 80px;
}

.Company__item {
  overflow: hidden;
  margin-bottom: 30px;
}

.Company__left {
  float: left;
  width: 360px;
}

.Company__detail {
  margin-bottom: 40px;
}
.Company__detail dt {
  float: left;
}
.Company__detail dd {
  padding-left: 100px;
}

.Company__logo {
  margin: 0;
}

.Company__name {
  font-size: 12px;
}

.Company__officers h3 {
  margin-bottom: 15px;
}

.Company__works {
  padding: 30px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  margin-bottom: 30px;
}
.Company__works h3 {
  margin-bottom: 15px;
}
.Company__works dl {
  float: left;
  width: 360px;
}
.Company__works dt {
  font-weight: bold;
}

.Company__map {
  width: 700px;
  height: 300px;
}

.Recruit .Box__inner {
  width: 800px;
  text-align: center;
}
.Recruit h3 {
  margin: 2em 0 1.3em 0;
}
.Recruit .Box__headline {
  margin-bottom: 60px;
}

.Recruit__mails dt, .Recruit__mails dd {
  width: 50%;
  float: left;
  box-sizing: border-box;
}
.Recruit__mails dt {
  text-align: right;
  padding-right: 15px;
}
.Recruit__mails dd {
  text-align: left;
  padding-left: 15px;
}

.Action .Box__inner {
  text-align: center;
}
.Action .Box__section {
  margin-bottom: 60px;
}
.Action .Box__section ul {
  margin-top: 42px;
  overflow: hidden;
}
.Action .Box__section li {
  float: left;
  margin: 0 5px;
}
.Action .Action__seven {
  margin-bottom: 72px;
}

.Action__lead {
  margin-bottom: 60px;
}
